<section class="container header-bar-container clearfix">
    <article class="logo">
        <%= image_tag('logo.png') %>                        
    </article>
    <div id="completemenu" class="clearfix">
        <ul class="nav" id="activate-dropdown">                        
            <li id="activate-car-dropdown"><a href="#">Cars</a></li>
            <li id="activate-bikes-dropdown"><a href="#">Bikes</a></li>
        </ul>
        <ul class="nav">                        
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div id="expandmenu">
        <%= image_tag('twitter.png',:width=>30,:height=>30) %>                        
    </div>
    <div class="searchbox">
        <form class="search-form">
            <input type="text" class="search-input" placeholder="Search IndianCarsBikes.in...">
            <button type="submit"><%= image_tag('search.png',:width=>30,:height=>30) %>                        </button>
        </form>                        
    </div>
</section>          