<section class="container header-dropdown-container clearfix hidden" id="car-dropdown-container">
    <section class="container panels-container clearfix">
        <section class="panel">
            <header><h3>Type 1</h3></header>
            <ul class="panel-list">
                <li>Ford Fiesta</li>
                <li>Skoda Octavia</li>
                <li>Tata Nano</li>
                <li>BMW 320i</li>
            </ul>                    
        </section>
        <section class="panel">
            <header><h3>Type 1</h3></header>
            <ul class="panel-list">
                <li>Car 1</li>
                <li>Car 1</li>
                <li>Car 1</li>
                <li>Car 1</li>
            </ul>                    
        </section>
        <section class="panel">
            <header><h3>Type 1</h3></header>
            <ul class="panel-list">
                <li>Car 1</li>
                <li>Car 1</li>
                <li>Car 1</li>
                <li>Car 1</li>
            </ul>                    
        </section>
        <section class="panel">
            <header><h3>Type 1</h3></header>
            <ul class="panel-list">
                <li>Car 1</li>
                <li>Car 1</li>
                <li>Car 1</li>
                <li>Car 1</li>
            </ul>                    
        </section>
    </section>
</section>