<section class="container header-dropdown-container clearfix hidden" id="bikes-dropdown-container">
    <section class="container panels-container clearfix">
        <section class="panel">
            <header><h3>Type 1</h3></header>
            <ul class="panel-list">
                <li>Kawasaki Ninja</li>
                <li>Kawasaki Ninja</li>
                <li>Bajaj Pulsar</li>
                <li>Bajaj Pulsar</li>
            </ul>                    
        </section>
        <section class="panel">
            <header><h3>Type 1</h3></header>
            <ul class="panel-list">
                <li>Kawasaki Ninja</li>
                <li>Kawasaki Ninja</li>
                <li>Bajaj Pulsar</li>
                <li>Bajaj Pulsar</li>
            </ul>                    
        </section>
        <section class="panel">
            <header><h3>Type 1</h3></header>
            <ul class="panel-list">
                <li>Kawasaki Ninja</li>
                <li>Kawasaki Ninja</li>
                <li>Bajaj Pulsar</li>
                <li>Bajaj Pulsar</li>
            </ul>                    
        </section>
        <section class="panel">
            <header><h3>Type 1</h3></header>
            <ul class="panel-list">
                <li>Kawasaki Ninja</li>
                <li>Kawasaki Ninja</li>
                <li>Bajaj Pulsar</li>
                <li>Bajaj Pulsar</li>
            </ul>                    
        </section>
    </section>
</section>              