<header class="header">
    <section class="wrapper header-wrapper">
        <%= render "header" %>
    </section>
    <section class="wrapper header-dropdown-wrapper hidden" id="header-dropdown-wrapper">
        <%= render "header_dropdown_cars" %>
        <%= render "header_dropdown_bikes" %>
          
    </section>
    
    <section class="wrapper header-ticker-wrapper">
        <b>Latest</b> : <a href="#">This is what we're doing this summer</a>            
    </section>
</header>            
<section class="wrapper top-ad-wrapper">
    <section class="container top-ad-container">
        <section class="top-ad">
            <%= image_tag('728ad.gif') %>
        </section>
    </section>
</section>
<section class="wrapper content-wrapper">
    <section class="container hero-container clearfix">
        <div class="hero-post-box">
            <a href="#" class="hero-post">
                <div class="text-dimmer">
                    <h3 class="post-title">Title of this post</h3>    
                </div>
                <div class="label">
                    Road Test
                </div>
                
                
                <%= image_tag('hero2.jpg') %>
                

            </a>
        </div>
        <section class="hero-sidebar">
            
            <section class="popular-posts-box">
                <h3>Popular Posts</h3>
                <div class="popular-posts-container">
                    <ul class="popular-posts-list clearfix">
                        <% 8.times do %>
                            <a href="#"><li>A Title of some post here</li></a>
                        <% end %>                    
                    </ul>
                </div>
            </section>
            <section class="subscribe-form">
                <form>
                    <input type="text" placeholder="Your email address...">
                    <button type="submit">Subscribe!</button>
                </form>
                
            </section>
            
        </section>
    </section>
    <section class="container two-panes-container clearfix">
        <section class="row">
            <section class="content-pane">
                <h3 class="section-title">Latest Blog Posts</h3>
                <section class="latest-posts-box clearfix">
                    <% 6.times do %>
                    <a href="#" class="post">

                        <div class="img-overlay">
                            <div class="text-dimmer">
                            </div>
                        </div>
                        <%= image_tag('smallpost.jpg') %>                            
                        <div class="label">
                            Road Test
                        </div>
                        <h3 class="post-title">Title of this post</h3>
                    </a>
                    <% end %>                        
                </section>
            </section>
            <section class="sidebar-pane">
                <section class="social-buttons-box">
                    <a class="facebook-button social-button">
                        <div class="logo">
                            <%= image_tag('social-facebook.png',:width => 30, :height => 30) %>
                        </div>
                        <div class="follow-text">
                            Like us on Facebook (1.3M)
                        </div>
                    </a>
                    <a class="twitter-button social-button">
                        <div class="logo">
                            <%= image_tag('social-twitter.png',:width => 30, :height => 30) %>
                        </div>
                        <div class="follow-text">
                            Follow us on Twitter (150k)
                        </div>
                    </a>
                    <a class="google-button social-button">
                        <div class="logo">
                            <%= image_tag('social-google.png',:width => 30, :height => 30) %>
                        </div>
                        <div class="follow-text">
                            +1 us on Google+ (250k)
                        </div>
                    </a>
                </section>
                <section class="side-300-ad-box">
                    <%= image_tag("300ad.jpg") %>
                </section>
            </section>
            
        </section>
        <section class="row">
            <section class="content-pane">
                <section class="half-articles-box clearfix">
                    <% 2.times do %>
                    <section class="article-group">
                        <h4>Reviews</h4>
                        <a href="#" class="main-article">
                            <div class="img-overlay">
                                <div class="text-dimmer">
                                </div>
                            </div>
                            <%= image_tag('halfpost.jpg') %>                            
                            <!-- <div class="label">
                                Road Test
                            </div> -->
                            <h5 class="post-title">Title of this post</h5>
                        </a>
                        <section></section>
                    </section>
                    <% end %>
                </section>
            </section>
            <section class="sidebar-pane">
            </section>
                
        </section>
    </section>
</section>

<section class="fillspace">
</section>


<section class="wrapper subscribe-wrapper">
    <section class="container subscribe-container">
        <h4>Get Notified when we add a new post!</h4>
        <h5>Join the 60k+ users who receive bi-weekly emails from us</h5>
        <form class="subscribe-form">
            <input type="text" placeholder="Your Email Address..."> 
            <button type="submit">Subscribe!</button>
        </form>
    </section>
</section>
<footer class="wrapper footer-wrapper">
    <section class="container footer-container clearfix">
        <section class="footer-panel footer-first-panel">
            <div class="logo">
                <%= image_tag('logo.png') %>                
            </div>
            <ul class="footer-nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">The Team</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>

        </section>
        <section class="footer-panel footer-second-panel">
            <h4>Cars</h4>
            <ul class="footer-list">
                <li><a href="#">Aston Martin DB7</a></li>
                <li><a href="#">BMW 3 Series</a></li>
                <li><a href="#">Bugatti Veyron</a></li>
                <li><a href="#">Aston Martin DB7</a></li>
                <li><a href="#">BMW 3 Series</a></li>
                <li><a href="#">Bugatti Veyron</a></li>
                <li><a href="#">Aston Martin DB7</a></li>
                <li><a href="#">BMW 3 Series</a></li>
                <li><a href="#">Bugatti Veyron</a></li>
                <li><a href="#">Aston Martin DB7</a></li>                    
            </ul>
        </section>
        <section class="footer-panel footer-third-panel">
            <h4>Bikes</h4>
            <ul class="footer-list">
                <li><a href="#">Aston Martin DB7</a></li>
                <li><a href="#">BMW 3 Series</a></li>
                <li><a href="#">Bugatti Veyron</a></li>
                <li><a href="#">Aston Martin DB7</a></li>
                <li><a href="#">BMW 3 Series</a></li>
                <li><a href="#">Bugatti Veyron</a></li>
                <li><a href="#">Aston Martin DB7</a></li>
                <li><a href="#">BMW 3 Series</a></li>
                <li><a href="#">Bugatti Veyron</a></li>
                <li><a href="#">Aston Martin DB7</a></li>                    
            </ul>
        </section>
        <section class="footer-panel footer-fourth-panel">
            <h4>Recent Posts</h4>
            <ul class="footer-article-list">
                <li><a href="#">Ford releases the new fiesta at 8 lakhs</a></li>
                <li><a href="#">Ford releases the new fiesta at 8 lakhs</a></li>
                <li><a href="#">Ford releases the new fiesta at 8 lakhs</a></li>
                <li><a href="#">Ford releases the new fiesta at 8 lakhs</a></li>
            </ul>
        </section>
    </section>
    
</footer>
