.wrapper.footer-wrapper {
    background-color:$darkgrey;
    font-family: "OpenSans";    
    color:$whitetext;    
}
.container.footer-container{
    padding-top:30px;
    padding-bottom: 40px;
}
.footer-container .footer-panel{
    padding-top: 10px;
    padding-left:20px;
    padding-right:20px;    
}
.footer-container .footer-panel.footer-first-panel{
    padding-top: 0px;
}

.footer-container .footer-panel h4{
    margin-bottom: 25px;
    font-size:18px;
    text-transform: uppercase;
}

.footer-container .footer-panel .logo{
    
}
.footer-container .footer-panel ul{
    list-style:none;
}
.footer-container .footer-panel ul a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.footer-container .footer-panel ul.footer-nav{
    font-size:16px;
    text-transform: uppercase;
    line-height:35px;
}
.footer-container .footer-panel ul.footer-article-list li{
    margin-bottom:15px;
    
}
$break-small: 480px;
$break-large: 960px;
$break-tablet: 768px;

.footer-container .footer-panel{
    float:left;
    width:25%;
    @media screen and (max-width: $break-large) {
        
    }
    @media screen and (max-width: $break-tablet) {
        float:left;
        width:50%;
        margin-bottom:20px;
        text-align: center;
    }
    
    @media screen and (max-width: $break-small) {
        display:block;
        width:100%;
        text-align: center;
        margin-bottom:20px;
    }
}