.wrapper.header-dropdown-wrapper{
    background-color: $lightgrey;
    color:$whitetext;
}
.container.header-dropdown-container{    
    
}
.container.header-dropdown-container .panel{
    width:25%;
    float:left;
    padding:10px 30px 10px 30px;
}
.container.header-dropdown-container .panel h3{
    font-weight: bold;
    font-size:18px;
    margin-bottom:10px;
}
.container.header-dropdown-container .panel ul.panel-list{
    list-style: none;
    font-size:14px;
    font-weight: 100;   
}
.container.header-dropdown-container .panel ul.panel-list li{
    line-height: 22px;
}
.wrapper.header-ticker-wrapper{
    background-color:$lightblue;
    line-height: 35px;
    text-align: center;
    color:$whitetext;
    height:35px;
    overflow:hidden;
    transition:0.3s all;
}

.wrapper.header-ticker-wrapper.shrunk{
    height:0px;
    
}


$break-small: 480px;
$break-large: 960px;
$break-tablet: 768px;

/* Responsive Stuff */

.container.header-dropdown-container .panel{
    width:25%;
    float:left;
    @media screen and (max-width: $break-tablet) {
        width:50%;
        float:left;
    }
    
    @media screen and (max-width: $break-small) {
//        width:100%;
//        display:block;
    }

}