.wrapper.header-wrapper {
    background-color:$darkgrey;
    font-family: "OpenSans";    
    color:$whitetext;
    
}
header.header{
    position:fixed;
    width:100%;
    box-shadow:0px 0px 3px $darkgrey;
    z-index:5;
}
.container.header-bar-container{
    transition:0.5s all;
}
.container.header-bar-container .logo{
    // To make the height 80px
    height:80px;
    padding-top: 15px;
    padding-bottom: 15px;        
    // To make the height 80px
    text-align: center;    
    transition:0.5s all;
}
.container.header-bar-container.shrunk .logo{
    // To make the height 50px
    height:50px;
    padding:0px;
    // To make the height 50px
    text-align: center;    
}


.container.header-bar-container .nav{
    list-style: none;
    text-align:center;        
}
.container.header-bar-container .nav li{
    transition:0.5s all;
    text-transform: uppercase;
    font-size: 16px;
    margin:none;
    &:hover{
        background-color:$lightgrey;
    }
}
.container.header-bar-container .nav li a{
    text-decoration: none;
}
.container.header-bar-container ul.socialicons{
    float:right;
    margin:0px;
    padding:0px;
}

.container.header-bar-container ul.socialicons li{
    list-style:none;
    display:inline-block;
    height:80px;    
    padding-left: 10px;
    padding-right:10px;
    padding-top:25px;
    padding-bottom:25px;
    transition:0.5s all;
}
.container.header-bar-container.shrunk ul.socialicons li{
    height:50px;    
    padding-top:10px;
    padding-bottom:10px;
}


$break-small: 480px;
$break-large: 960px;
$break-tablet: 768px;

/* Responsive Stuff */

.container.header-bar-container{
    height:80px;
    @media screen and (max-width: $break-large) {
        
    }
    
    @media screen and (max-width: $break-small) {
        height:auto;
    }

}
.container.header-bar-container.shrunk{
    height:50px;
    @media screen and (max-width: $break-large) {
        
    }
    
    @media screen and (max-width: $break-small) {
        height:auto;
    }

}
.container.header-bar-container .logo{
    float:left;
    width:160px;        
    @media screen and (max-width: $break-large) {
        width:120px;
    }
    
    @media screen and (max-width: $break-small) {
        display:block;
        width:100%;
    }
}

.container.header-bar-container .nav{
    float:left;
    @media screen and (max-width: $break-large) {
        
    }
    
    @media screen and (max-width: $break-small) {
        display:block;
        width:100%;
    }
}
.container.header-bar-container .nav li{
    display:inline-block;
    height:80px;
    line-height: 80px;
    padding-left:20px;
    padding-right:20px;
    @media screen and (max-width: $break-large) {
        
    }
    @media screen and (max-width: $break-tablet) {
        padding-left:10px;
        padding-right:10px;
    }
    
    @media screen and (max-width: $break-small) {
        text-align: center;
        width:100%;
        display:block;
        height:50px;
        line-height: 50px;
    }
}
.container.header-bar-container.shrunk .nav li{
    height:50px;
    line-height: 50px;
    
    @media screen and (max-width: $break-large) {
        
    }
    @media screen and (max-width: $break-tablet) {
    
    }
    
    @media screen and (max-width: $break-small) {
        height:50px;
        line-height: 50px;
    }
}
.container.header-bar-container ul.socialicons{
    
    
    @media screen and (max-width: $break-large) {
        
    }
    @media screen and (max-width: $break-tablet) {
        display:none;
    }
    
    @media screen and (max-width: $break-small) {
        display:none;
    }
}

.container.header-bar-container #expandmenu{
    cursor:pointer;
    display:none;
    @media screen and (max-width: $break-large) {
        display:none;
    }
    @media screen and (max-width: $break-tablet) {
        display:none;
    }
    
    @media screen and (max-width: $break-small) {
        display:block;
        position:absolute;
        top:10px;
        right:10px;
    }
}
.container.header-bar-container #completemenu{
    float:left;
    @media screen and (max-width: $break-large) {
        
    }
    @media screen and (max-width: $break-tablet) {
        
    }
    
    @media screen and (max-width: $break-small) {
        display:block;
        width:100%;
    }
}