.searchbox{
    width:200px;
    height:30px;
    float:right;
    padding-top:25px;
    padding-bottom:25px;
    transition:0.5s all;
}
.header-bar-container.shrunk .searchbox{
    padding-top:10px;
    padding-bottom: 10px;
}

.searchbox input{
    width:170px;
    height:30px;
    float:left;
    font-size:12px;
    padding-left:5px;
    color:$darkgrey;
}
.searchbox button{
    width:30px;
    height:30px;
    float:left;
    background-color:$lightblue;
}


$break-small: 480px;
$break-large: 960px;
$break-tablet: 768px;

/* Responsive Stuff */

.searchbox{
    @media screen and (max-width: $break-tablet) {
        display:none;
    }
    
    @media screen and (max-width: $break-small) {
        display:none;
    }

}