$break-small: 480px;
$break-large: 960px;
$break-tablet: 768px;


.container.hero-container{
    margin-top:15px;
    height:380px;
    box-shadow:0px 0px 3px $grey;    
    position:relative;
    @media screen and (max-width: $break-large) {
        width:100%;
        height:auto;  
        box-shadow:none;      
    }
    
    @media screen and (max-width: $break-small) {
        width:100%;
        height:auto;        
        box-shadow:none;      
    }
}
.container.hero-container .hero-post-box{
    width:640px;
    float:left;
    height:100%;
    position:relative;
    display:block;
    text-align: center;
    
    @media screen and (max-width: $break-large) {
        float:none;
        width:100%;
        height:auto;        
        margin-bottom: 10px;
    }
    
    @media screen and (max-width: $break-small) {
        
    }
}
.container.hero-container .hero-sidebar{
    width:320px;
    float:left;
    height:100%;
    background-color: $darkgrey;
    
    
    position:relative;
    z-index:1;
    @media screen and (max-width: $break-large) {
        width:100%;
        max-width:640px;
        margin-left: auto;
        margin-right: auto;
        display:block;
        float:none;
        box-shadow:0px 0px 3px $grey;
        margin-bottom: 10px;    
    }
    
    @media screen and (max-width: $break-small) {

    }

}

.container.hero-container .hero-post-box .hero-post{
    display:inline-block;
    position:relative;
    overflow:hidden;
    transition:0.3s all;
    height:auto;
    width:auto;
    text-decoration:none;
    background-color: rgba($grey,0.1);
    box-shadow:none;
    @media screen and (max-width: $break-large) {
        box-shadow:0px 0px 3px $grey;            
    }
    
    @media screen and (max-width: $break-small) {
        
    }
}


.container.hero-container .hero-post .text-dimmer{
    position:absolute;
    bottom:0px;
    width:100%;
    background-color: rgba(black,0.8);
    z-index:10;
    
    @media screen and (max-width: $break-large) {
        
    }
    
    @media screen and (max-width: $break-small) {
        
    }

}

.container.hero-container .hero-post .text-dimmer .post-title
{
    color:$white;
    
    text-shadow:0px 0px 5px #000000;
    z-index:2;
    display:block;
    width:100%;
    text-align:center;
    line-height:70px;
    font-size:26px;    
    @media screen and (max-width: $break-large) {
        line-height:50px;
        font-size:20px;    
    }
    
    @media screen and (max-width: $break-small) {
        line-height:35px;
        font-size:14px;       
    }
}

.container.hero-container .hero-post img{
    width:100%;
    height:100%;
    position:relative;
    z-index: -1;
    vertical-align: top;
    
    @media screen and (max-width: $break-large) {
        max-width: 640px;
        //max-height: 100%;
        width:100%;
        height:auto;
    }
    
    @media screen and (max-width: $break-small) {
        
    }
}




.container.hero-container .hero-post:hover > .img-overlay,
.container.hero-container .hero-sidebar .side-post:hover > .img-overlay
{
    background-color: rgba(255,255,255,0);
}
.container.hero-container .hero-post:hover,
.container.hero-container .hero-sidebar .side-post:hover
{
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0),0px 0px 10px rgba($darkgrey,0.5);
    
}

.container.hero-container .hero-post .label
{
    position:absolute;
    z-index: 1;    
    color:$white;
    //font-weight:900;
    font-weight: normal;
    text-transform: uppercase;
    font-size:10px;
    display:inline-block;
    background-color: $lightblue;
    padding:1px 3px 1px 3px;
    top:20px;
    left:20px;    
    @media screen and (max-width: $break-large) {
        
    }
    
    @media screen and (max-width: $break-small) {
        top:10px;
        left:10px;    
    }
}
.container.hero-container .hero-post .label{
    
}

.container.hero-container .popular-posts-box h3{
    text-transform: uppercase;
    font-weight: 900;
    font-size:14px;
    padding-left:15px;
    padding-right:10px;
    line-height: 50px;
    height:50px;
    color:$darkgrey;
    background-color:#f6f6f6;    
    border-bottom: 1px solid lighten($grey,40);


}
.container.hero-container .popular-posts-list a{
    display:block;
    height:35px;
    line-height: 35px;
    width:100%;

    text-decoration: none;
    font-weight: 900;
    font-size:14px;
    padding-left:15px;
    padding-right:15px;
    color:$darkgrey;
    background-color:#f6f6f6;    
    
    border-bottom: 1px solid lighten($grey,40);
    @media screen and (max-width: $break-large) {
        width:50%;
        float:left;
        &:nth-child(odd){
            border-right: 1px solid lighten($grey,40);
        }
    }
    
    @media screen and (max-width: $break-small) {
        width:100%;
        float:none;        
        border-right: none;
    }
}

.container.hero-container ul.popular-posts-list a li{
    list-style: none;
}


.container.hero-container .popular-posts-list a:hover{
    background-color:#ffffff;
}




.container.hero-container .subscribe-form{
    position:relative;
    width:100%;
    height:50px;
    display:block;
    @media screen and (max-width: $break-large) {
        display:none;
    }
    
    @media screen and (max-width: $break-small) {
        display:none;
    }
}
.container.hero-container .subscribe-form input,
.container.hero-container .subscribe-form button{
    float:left;
    height:50px;
}

.container.hero-container .subscribe-form input{
    width:60%;    
    background-color:white;
    padding-left:15px;
    transition:0.2s all;
    font-size:14px;
}
.container.hero-container .subscribe-form input:hover{
    box-shadow:0px 0px 5px white;
}
.container.hero-container .subscribe-form button{
    width:40%;
    background-color: $darkgrey;
    transition-property: background-color;
    transition-duration: 0.1s;
    color:$white;
    font-size:14px;
    &:hover{
        background-color: $lightblue;
    }
    
}






