.content-pane .half-articles-box{
    
    
}
.content-pane .half-articles-box .article-group{
    display:block;
    width:320px;
    padding-left:20px;
    padding-right:20px;
    float:left;
}
.content-pane .half-articles-box .article-group h4{
    background-color: $lightblue;
    line-height: 25px;
    color:$white;
    font-size: 14px;
    text-transform: uppercase;
    position:relative;    
    padding-left:10px;
}
.content-pane .half-articles-box .article-group .main-article{
    display:block;
    width:280px;
    height:160px;
    background-color: $darkgrey;
    position:relative;    
}

.content-pane .half-articles-box .article-group .main-article img{
    position:absolute;
    top:0px;
    left:0px;
    z-index:0;
}

.content-pane .half-articles-box .article-group .main-article .img-overlay{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color: rgba($grey,0.1);   
    z-index:1;
    transition-property: background-color;
    transition-duration:0.3s;   
    & .text-dimmer{
        position:absolute;
        bottom:0px;
        width:100%;
        height:25%;
        background-color: black;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.65));
    }
}

.content-pane .half-articles-box .article-group .main-article:hover > .img-overlay{
    background-color: rgba($grey,0);   
}


.content-pane .half-articles-box .article-group .main-article .post-title{
        display:block;
    font-weight:bold;
    color:$white;
    z-index:9;
    position:absolute;
    bottom:7px;
    left:7px;
    font-size:14px;    
}
