.content-pane .latest-posts-box .post{
    width:180px;
    height:200px;
    background-color: $darkgrey;
    float:left;
    margin-left:25px;
    margin-bottom:15px;
    position:relative;
    box-shadow:0px 0px 3px $darkgrey,inset -7px 0px 10px -7px $grey;
    transition-property: box-shadow;
    transition-duration:0.3s;
}

.content-pane .latest-posts-box .post .img-overlay{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color: rgba($grey,0.1);   
    z-index:1;
    transition-property: background-color;
    transition-duration:0.3s;
    
}
.content-pane .latest-posts-box .post:hover{
    box-shadow:0px 0px 5px $darkgrey,inset -7px 0px 10px -7px rgba(0,0,0,0);
}


.content-pane .latest-posts-box .post:hover > .img-overlay{
    background-color: rgba($grey,0);   
}
.content-pane .latest-posts-box .post .img-overlay .text-dimmer{
    position:absolute;
    
    bottom:0px;
    width:100%;
    height:25%;
    background-color: black;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.65));
}

.content-pane .latest-posts-box .post img{
    position:absolute;
    top:0px;
    left:0px;
    z-index:0;
}
.content-pane .latest-posts-box .post .post-title{
    display:block;
    font-weight:bold;
    color:$white;
    z-index:9;
    position:absolute;
    bottom:7px;
    left:7px;
    font-size:14px;
}

.content-pane .latest-posts-box .post .label
{
    position:absolute;
    z-index: 1;    
    color:$white;
    font-weight: normal;
    text-transform: uppercase;
    font-size:10px;
    display:inline-block;
    background-color: $lightblue;
    padding:1px 3px 1px 3px;
    top:7px;
    left:7px;
}



