$break-small: 480px;
$break-large: 960px;
$break-tablet: 768px;


.container.two-panes-container{
    background-color: white;
    box-shadow:0px 0px 3px $grey;    
}

.container.two-panes-container:nth-child(2){
    box-shadow:0px 0px 3px $grey, inset 0px 3px 5px -3px $grey;
    @media screen and (max-width: $break-large) {
        box-shadow:0px 0px 3px $grey;           
    }
    
    @media screen and (max-width: $break-small) {
        box-shadow:0px 0px 3px $grey;    
    }    
}

.container.two-panes-container .row .content-pane{
    width:640px;
    float:left;
    box-shadow: 7px 0px 8px -7px $grey;
    //min-height: 500px;
    @media screen and (max-width: $break-large) {
        width:100%;
        float:none;
    }
    
    @media screen and (max-width: $break-small) {
        
    }
}
.container.two-panes-container .row .sidebar-pane{
    width:320px;
    float:left;
    //min-height: 500px;
    @media screen and (max-width: $break-large) {
        width:100%;
        float:none;
        display:block;
    }
    
    @media screen and (max-width: $break-small) {
        
    }
}

.container.two-panes-container .content-pane .section-title,
.container.two-panes-container .sidebar-pane .section-title{
    padding:20px 20px 10px 20px;
    font-size:18px;
    font-weight:bold;
    color:$darkgrey;
    text-transform: uppercase;
}