.sidebar-pane .social-buttons-box{
    width:100%;
    position:relative;
    //padding:10px;
    
}


.sidebar-pane .social-buttons-box .social-button{
    width:100%;
    height:50px;
    display:block;
    //margin-bottom:10px;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s,0.2s;
    box-shadow:inset 0px 0px 20px rgba($darkgrey,0.1);
    &:hover{
        box-shadow:inset 0px 0px 0px rgba($grey,0.1),0px 0px 5px $grey;
    }
    &.facebook-button{
        background-color: $facebookblue;
        &:hover{
            background-color: lighten($facebookblue,3);
            cursor:pointer;
        }
    }
    &.twitter-button{
        background-color: $twitterblue;
        &:hover{
            background-color: lighten($twitterblue,3);
            cursor:pointer;
        }
    }
    &.google-button{
        background-color: $googlered;
        &:hover{
            background-color: lighten($googlered,3);
            cursor:pointer;
        }
    }
}
.sidebar-pane .social-buttons-box .social-button .logo{
    display:block;
    float:left;
    margin-left: 10px;
    width:50px;
    height:50px;
    padding:10px;
    
}
.sidebar-pane .social-buttons-box .social-button .follow-text{
    padding:0px 5px 0px 10px;
    color:$white;
    font-size:14px;
    font-weight:100;
    line-height: 50px;
    display:block;
    float:left;
    
}

.sidebar-pane .side-300-ad-box{
    text-align: center;
    padding:10px;
}