.wrapper.subscribe-wrapper{
    background-color:$lightblue;
    color:$whitetext;
}
.container.subscribe-container{
    text-align: center;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:20px;
    padding-right:20px;
}
.container.subscribe-container h4{
    font-size:30px;   
    margin-bottom: 5px;
}
.container.subscribe-container h5{
    font-size:18px;
    font-weight:100;
}
.container.subscribe-container form.subscribe-form{
    
    margin:40px auto 20px auto;
    box-shadow:0px 0px 2px $lightgrey;
    border-radius: 4px 4px 4px 4px;
    
}

.container.subscribe-container form.subscribe-form input{
    
    height:40px;
    padding-left:15px;
    color:$darkgrey;
    border-radius: 4px 0px 0px 4px;
    font-size:14px;
}
.container.subscribe-container form.subscribe-form button{
    font-size:14px;
    display:block;
    float:left;
    width:30%;
    height:40px;
    border-radius: 0px 4px 4px 0px;
    background-color:$darkgrey;
    
}

.container.subscribe-container form.subscribe-form{
    width:300px;
    height:40px;    
    @media screen and (max-width: $break-large) {
        
    }
    @media screen and (max-width: $break-tablet) {
        
    }
    
    @media screen and (max-width: $break-small) {
        height:80px;
        display:block;
        width:80%;
    }
    
}

.container.subscribe-container form.subscribe-form input{
    float:left;
    width:70%;
    border-radius: 4px 0px 0px 4px;
    @media screen and (max-width: $break-large) {
        
    }
    @media screen and (max-width: $break-tablet) {
        
    }
    
    @media screen and (max-width: $break-small) {
        border-radius: 4px 4px 0px 0px;
        display:block;
        width:100%;
        text-align: center;
    }
    
}
.container.subscribe-container form.subscribe-form button{
    float:left;
    width:30%;
    border-radius: 0px 4px 4px 0px;
    
    @media screen and (max-width: $break-large) {
        
    }
    @media screen and (max-width: $break-tablet) {
        
    }
    
    @media screen and (max-width: $break-small) {
        border-radius: 0px 0px 4px 4px;
        display:block;
        width:100%;
    }
    
}