.wrapper.top-ad-wrapper
{
    padding-top:115px;
    background-color: $white;
    box-shadow:0px 0px 4px 0px $darkgrey;
    
}
.container.top-ad-container
{
    height:120px;    
    padding:15px 0px 15px 0px;
}
.container.top-ad-container .top-ad
{
    width:728px;
    height:90px;
    margin:0px auto 0px auto;    
}