$yellow: #f7d56c;
$white: #fefefe;
$lightblack:#222222;
$darkblack:#191919;
$grey: #808080;

$bluebg:#ECF0F1;
$green:#16A085;
$greenhover:#1ABC9C;
$greenlighter:#22DFBA;
$greyfont:#7F8C8D;
$greyfonthover:#333333;
$lightborder:#BDC3C7;
$blacktext:#222222;

$facebookblue: #3B5998;
$twitterblue: #4099FF;
$googlered: #d34836;

$whitetext:#ffffff;
$white: #ffffff;
$almostwhite: #f3f5fa;
$darkgrey: #333333;
$lightgrey: #666666;
$lightblue:#4ccde4;
