// @font-face
// {
//     font-family: "Bebas";
//     src: font-url("BebasNeue.otf");
//     font-weight:bold;
// }
// @font-face
// {
//     font-family: "CooperHewitt";
//     src: font-url("CooperHewitt-Bold.otf");
//     font-weight:bold;
// }
// @font-face
// {
//     font-family: "CooperHewitt";
//     src: font-url("CooperHewitt-Heavy.otf");
//     font-weight:900;
// }
@font-face
{
    font-family: "OpenSans";
    src: font-url("OpenSans-Light.ttf");
    font-weight:100;
}
@font-face
{
    font-family: "OpenSans";
    src: font-url("OpenSans-Regular.ttf");
    font-weight:normal;
}
@font-face
{
    font-family: "OpenSans";
    src: font-url("OpenSans-Bold.ttf");
    font-weight:bold;
}
// Extra Bold
@font-face
{
    font-family: "OpenSans";
    src: font-url("OpenSans-ExtraBold.ttf");
    font-weight:900;
}
//@font-face
//{
//    font-family: "Origicide";
//    src: url("../fonts/Origicide.ttf");    
//}
@font-face
{
    font-family: "AlexBrush";
    src: font-url("AlexBrush-Regular.ttf");
    //font-weight:900;
}

@font-face
{
    font-family: "Kaushan";
    src: font-url("KaushanScript-Regular.otf");
    //font-weight:900;
}