html{
    background-color: $almostwhite;
    
}

@mixin container($width) {
    width:$width;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

@mixin wrapper($width){
    width:100%;
    min-width: $width;
}

@mixin containerfluid {
    display:block;
    width:100%;    
    margin:0px;
}

@mixin wrapperfluid{
    width:100%;
    min-width: 0;
}

.wrapper
{
    @include wrapper(960px);
}

.container
{
    @include container(960px);
}

@media screen and (max-width: 960px) {
    .container{
        @include containerfluid;
    }
    .wrapper
    {
        @include wrapperfluid;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.fillspace{
    height:500px;
}