*,*:before,*:after{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    border:0px;
}
body{
    font-family: "OpenSans";
    color:$blacktext;
    font-weight:100;
}
a{
    color:inherit;    
}
.hidden{
    display:none;   
}
